doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    title #{pageTitle} | Youtube Clone
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body
    block content
  include partials/footer.pug