extends base

block content
  h4 Update Video
  form(method="POST")
    input(name="title", placeholder="Video Title", type="text", value=video.title, required, maxlength="20")
    input(name="description", placeholder="Description", type="text", value=video.description, maxlength="140")
    if (video.hashtags)
      input(name="hashtags", placeholder="Hashtags, separated by comma.", type="text", value=video.hashtags.join())
    else
      input(name="hashtags", placeholder="Hashtags, separated by comma.", type="text")
    input(value="Save", type="submit")
