extends base
include mixins/video

block nav
  nav
    ul
      li
        a(href="/videos/upload") Upload Video

block content
  h1 Welcome here you will see the trending videos
  each video in videos
    +video(video)
  else
    h3 Sorry no videos found