extends base
include mixins/video

block nav
  nav
    ul
      li
        a(href="/videos/upload") Upload Video
      li
        a(href="/search") Search Video
      if loggedIn
        span #{loggedInUser.username}
        li
          a(href="/users/logout") Log Out
      else
        li
          a(href="/signup") Sign Up
        li
          a(href="/login") Log In

block content
  each video in videos
    +video(video)
  else
    h3 Sorry no videos found