extends base
include mixins/video

block nav
  nav
    ul
      li
        a(href="/videos/upload") Upload Video
      li
        a(href="/search") Search Video

block content
  each video in videos
    +video(video)
  else
    h3 Sorry no videos found