extends base

block nav
  nav
    ul
      li
        a(href="/") Home

block content
  if errorMessage
    span=errorMessage
  form(method="POST")
    h3 Log In to Your Account
    input(placeholder="Email", type="email", name="email", required)
    input(placeholder="Password", type="password", name="password", required)
    div
      h4(style="display:inline") Need an account?  
      a(href="/signup") Sign Up
    input(type="submit", value="Log In")
    br
    if errorMessage
      span=errorMessage
    else
      span(style="color:red") If an error occurs when filling a form, a message will show here.