extends base

block nav
  nav
    ul
      li
        a(href="/") Home

block content
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(placeholder="Email", type="email", name="email",required)
    input(placeholder="Username", type="text", name="username",required, maxlength="16", style="width:195px;")
    input(placeholder="Password", type="password", name="password",required, minlength="8")
    input(placeholder="Confirm Password", type="password", name="password2",required, minlength="8")
    input(placeholder="Name", type="text", name="name",required, maxlength="20", style="width:195px;")
    input(placeholder="Location", type="text", name="location", style="width:195px;")
    input(type="submit", value="Sign Up")