extends ../base

block nav
  nav
    ul
      li
        a(href="/") Home

block content
  form(method="POST")
    input(placeholder="Current Password", type="password", name="curPassword", required)
    input(placeholder="New Password", type="password", name="newPassword", required)
    input(placeholder="Repeat Password", type="password", name="repeatPassword", required)
    input(value="Change Password", type="submit")
    include ../partials/error-message